<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Motivate your students!</h1>
		<br />
		<h2>Use a classroom economy system to incentive classroom participation.</h2>
		<br />
		<%= link_to	'Demo Video', root_path, class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br/>